{
  "openapi": "3.0.3",
  "info": {
    "title": "Solscan Pro API V2",
    "version": "2.0",
    "description": "This API provides access to Solana blockchain data, including account transfers and DeFi activities. It offers various filtering options for precise data retrieval."
  },
  "servers": [
    {
      "url": "https://public-api.solscan.io",
      "description": "Production Solscan API base URL."
    },
    {
      "url": "http://localhost:9000/v2",
      "description": "Local development server."
    }
  ],
  "paths": {
    "/account/detail": {
      "get": {
        "tags": [
          "Account APIs"
        ],
        "operationId": "accountDetailApi",
        "summary": "account detail",
        "description": "Get the details of an account",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "A wallet address on solana blockchain",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "string",
                          "description": "The address of this account"
                        },
                        "lamports": {
                          "type": "number",
                          "description": "The number of lamports assigned to this account"
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of this account"
                        },
                        "executable": {
                          "type": "boolean",
                          "description": "Boolean indicating if the account contains a program"
                        },
                        "owner_program": {
                          "type": "string",
                          "description": "The address of the program this account has been assigned to"
                        },
                        "rent_epoch": {
                          "type": "number",
                          "description": "The epoch at which this account will next owe rent"
                        },
                        "is_oncurve": {
                          "type": "number",
                          "description": "Boolean indicating if the account is on curve or not"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": true,
                    "data": {
                      "account": "2YcwVbKx9L25Jpaj2vfWSXD5UKugZumWjzEe6suBUJi2",
                      "lamports": 11934280,
                      "type": "system_account",
                      "executable": false,
                      "owner_program": "11111111111111111111111111111111",
                      "rent_epoch": 18446744073709552000,
                      "is_oncurve": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "description": "Error Code for API"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message to describe error"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": false,
                    "errors": {
                      "code": 1100,
                      "message": "Validation Error: Address [TmUEfZi6dHe7DcFq2ALvB2tbB] is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/account/transfer": {
      "get": {
        "tags": [
          "Account APIs"
        ],
        "operationId": "accountTransferApi",
        "summary": "account transfer",
        "description": "Get transfer data of an account",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Solana wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "activity_type",
            "in": "query",
            "description": "Type of transfer",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 30,
              "enum": [
                "ACTIVITY_SPL_TRANSFER",
                "ACTIVITY_SPL_BURN",
                "ACTIVITY_SPL_MINT",
                "ACTIVITY_SPL_CREATE_ACCOUNT"
              ]
            }
          },
          {
            "name": "token_account",
            "in": "query",
            "description": "Filter transfers for a specific token account in the wallet",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter transfer data with direction is from an address",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter transfers from a specific address",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Filter by token address. For native SOL transfers, use So11111111111111111111111111111111111111111",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Filter by amount range for a specific token. Example: ?amount[]=1&amount[]=2&token=So11111111111111111111111111111111111111112",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "Filter by time range (Unix timestamp in seconds). Example: ?from_time=1720153259&to_time=1720153276",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "Filter by time range (Unix timestamp in seconds). Example: ?from_time=1720153259&to_time=1720153276",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "exclude_amount_zero",
            "in": "query",
            "description": "Exclude transfers with zero amount",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "flow",
            "in": "query",
            "description": "Filter by transfer direction: in or out",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "in",
                "out"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "default": 10,
              "enum": [
                10,
                20,
                30,
                40,
                60,
                100
              ],
              "anyOf": [
                {
                  "type": "number",
                  "enum": [
                    10,
                    20,
                    30,
                    40,
                    60,
                    100
                  ]
                }
              ]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "The parameter allows you to specify the field by which the returned list will be sorted",
            "required": false,
            "schema": {
              "type": "string",
              "default": "block_time",
              "deprecated": true,
              "enum": [
                "block_time"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "The parameter allows you to specify the sort order",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filter by value range (dollar). Example: ?value[]=1&value[]=10",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "block_time",
            "in": "query",
            "description": "Filter by block time range (Unix timestamp in seconds). Example: ?block_time[]=1720153259&block_time[]=1720153276",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_id": {
                            "type": "number",
                            "description": "Slot Number of activity"
                          },
                          "trans_id": {
                            "type": "string",
                            "description": "Transaction hash or signature"
                          },
                          "block_time": {
                            "type": "number",
                            "description": "Unix timestamp of the slot"
                          },
                          "time": {
                            "type": "string",
                            "description": "Time of the slot"
                          },
                          "activity_type": {
                            "type": "string",
                            "description": "Type of transfer",
                            "enum": [
                              "ACTIVITY_SPL_TRANSFER",
                              "ACTIVITY_SPL_BURN",
                              "ACTIVITY_SPL_MINT",
                              "ACTIVITY_SPL_CREATE_ACCOUNT"
                            ]
                          },
                          "from_address": {
                            "type": "string",
                            "description": "Source address"
                          },
                          "from_token_account": {
                            "type": "string",
                            "description": "Source token account address"
                          },
                          "to_address": {
                            "type": "string",
                            "description": "Destination address"
                          },
                          "to_token_account": {
                            "type": "string",
                            "description": "Destination token account address"
                          },
                          "token_address": {
                            "type": "string",
                            "description": "Token address"
                          },
                          "token_decimals": {
                            "type": "number",
                            "description": "Decimal of token address"
                          },
                          "amount": {
                            "type": "number",
                            "description": "Transfer amount (divide by 10^token_decimals for actual amount)"
                          },
                          "flow": {
                            "type": "string",
                            "description": "Transfer direction",
                            "enum": [
                              "in",
                              "out"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "block_id": 275794898,
                        "trans_id": "4AU5ShM99Db1yXr72jukaUNSJTnJtp76zt6CdL9ghatA3N4HYU9jaHre2HsHqWcKipKCD3MenvdShPsRrAU6CC4f",
                        "block_time": 1720171655,
                        "time": "2024-07-05T09:27:35.000Z",
                        "activity_type": "ACTIVITY_SPL_TRANSFER",
                        "from_address": "5Q544fKrFoe6tsEbD7S8EmxGTJYAKtTVhAW5Q5pge4j1",
                        "to_address": "6U91aKa8pmMxkJwBCfPTmUEfZi6dHe7DcFq2ALvB2tbB",
                        "token_address": "So11111111111111111111111111111111111111112",
                        "token_decimals": 9,
                        "amount": 1587870559,
                        "flow": "in"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "API status"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "description": "Error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Error description"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": false,
                    "errors": {
                      "code": 1100,
                      "message": "Validation Error: Address [TmUEfZi6dHe7DcFq2ALvB2tbB] is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/account/defi/activities": {
      "get": {
        "tags": [
          "Account APIs"
        ],
        "operationId": "accountDefiActivitiesApi",
        "summary": "account defi activities",
        "description": "Get defi activities involving an account",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "A Wallet address on solana blockchain",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "activity_type",
            "in": "query",
            "description": "Type of activity data",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 30,
              "enum": [
                "ACTIVITY_TOKEN_SWAP",
                "ACTIVITY_AGG_TOKEN_SWAP",
                "ACTIVITY_TOKEN_ADD_LIQ",
                "ACTIVITY_TOKEN_REMOVE_LIQ",
                "ACTIVITY_SPL_TOKEN_STAKE",
                "ACTIVITY_SPL_TOKEN_UNSTAKE",
                "ACTIVITY_SPL_TOKEN_WITHDRAW_STAKE",
                "ACTIVITY_SPL_INIT_MINT"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter activities from an address",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Filter by list platform addresses. Maximum 5 addresses",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 5
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by list source addresses. Maximum 5 addresses",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 5
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Filter activities data by token address",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "Filter by time range (Unix timestamp in seconds). Example: ?from_time=1720153259&to_time=1720153276",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "Filter by time range (Unix timestamp in seconds). Example: ?from_time=1720153259&to_time=1720153276",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number items per page",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "default": 10,
              "enum": [
                10,
                20,
                30,
                40,
                60,
                100
              ],
              "anyOf": [
                {
                  "type": "number",
                  "enum": [
                    10,
                    20,
                    30,
                    40,
                    60,
                    100
                  ]
                }
              ]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "The parameter allows you to specify the field by which the returned list will be sorted",
            "required": false,
            "schema": {
              "type": "string",
              "default": "block_time",
              "enum": [
                "block_time"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "The parameter allows you to specify the sort order",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "block_time",
            "in": "query",
            "description": "Used when you want to filter data by block time. Format time: UnixTime in seconds. You need to pass array into http query to filter by start and stop block_time. Example: ?block_time[]=1720153259&block_time[]=1720153276",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_id": {
                            "type": "number",
                            "description": "Slot Number of activity"
                          },
                          "trans_id": {
                            "type": "string",
                            "description": "Transaction Hash or Signature for activity"
                          },
                          "block_time": {
                            "type": "number",
                            "description": "UnixTime of the slot"
                          },
                          "time": {
                            "type": "string",
                            "description": "Time of the slot"
                          },
                          "activity_type": {
                            "type": "string",
                            "description": "Type of transfer.",
                            "enum": [
                              "ACTIVITY_TOKEN_SWAP",
                              "ACTIVITY_AGG_TOKEN_SWAP",
                              "ACTIVITY_TOKEN_ADD_LIQ",
                              "ACTIVITY_TOKEN_REMOVE_LIQ",
                              "ACTIVITY_SPL_TOKEN_STAKE",
                              "ACTIVITY_SPL_TOKEN_UNSTAKE",
                              "ACTIVITY_SPL_TOKEN_WITHDRAW_STAKE",
                              "ACTIVITY_SPL_INIT_MINT"
                            ]
                          },
                          "from_address": {
                            "type": "string",
                            "description": "Transfer from an address"
                          },
                          "to_address": {
                            "type": "string",
                            "description": "Transfer to an address"
                          },
                          "sources": {
                            "type": "array",
                            "description": "sources"
                          },
                          "platform": {
                            "type": "string",
                            "description": "platform"
                          },
                          "routers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "token1": {
                                  "type": "string",
                                  "description": "Token address"
                                },
                                "token1_decimals": {
                                  "type": "number",
                                  "description": "Token decimals"
                                },
                                "amount1": {
                                  "type": "string",
                                  "description": "Amount of token1"
                                },
                                "token2": {
                                  "type": "string",
                                  "description": "Token address"
                                },
                                "token2_decimals": {
                                  "type": "number",
                                  "description": "Token decimals"
                                },
                                "amount2": {
                                  "type": "string",
                                  "description": "Amount of token2"
                                },
                                "child_routers": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "token1": {
                                        "type": "string",
                                        "description": "Token address"
                                      },
                                      "token1_decimals": {
                                        "type": "number",
                                        "description": "Token decimals"
                                      },
                                      "amount1": {
                                        "type": "string",
                                        "description": "Amount of token1"
                                      },
                                      "token2": {
                                        "type": "string",
                                        "description": "Token address"
                                      },
                                      "token2_decimals": {
                                        "type": "number",
                                        "description": "Token decimals"
                                      },
                                      "amount2": {
                                        "type": "string",
                                        "description": "Amount of token2"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "block_id": 275994804,
                        "trans_id": "sgccc7AnmQ7mUxk7JPVZWSqD18Dm4eaMv61jte9sWjBakck5QK3UFSLnxMAqwiTUHjF8BXvaHaLAWnzGPRi77Cr",
                        "block_time": 1720263055,
                        "time": "2024-07-06T10:50:55.000Z",
                        "activity_type": "ACTIVITY_AGG_TOKEN_SWAP",
                        "from_address": "ob2htHLoCu2P6tX7RrNVtiG1mYTas8NGJEVLaFEUngk",
                        "to_address": "JUP6LkbZbjS1jKKwapdHNy74zcZ3tLUZoi5QNyVTaV4",
                        "sources": [
                          "CAMMCzo5YL8w4VFF8KVHrK22GGUsp5VTaW7grrKgrWqK"
                        ],
                        "platform": "JUP6LkbZbjS1jKKwapdHNy74zcZ3tLUZoi5QNyVTaV4",
                        "amount_info": {
                          "token1": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                          "token1_decimals": 6,
                          "amount1": 1000000,
                          "token2": "EKpQGSJtjMFqKZ9KQanSqYXRcF8fBopzLHYxdM65zcjm",
                          "token2_decimals": 6,
                          "amount2": 503392,
                          "routers": [
                            {
                              "token1": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                              "token1_decimals": 6,
                              "amount1": "1000000",
                              "token2": "EKpQGSJtjMFqKZ9KQanSqYXRcF8fBopzLHYxdM65zcjm",
                              "token2_decimals": 6,
                              "amount2": "503392"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "description": "Error Code for API"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message to describe error"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": false,
                    "errors": {
                      "code": 1100,
                      "message": "Validation Error: Address [TmUEfZi6dHe7DcFq2ALvB2tbB] is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/account/balance_change": {
      "get": {
        "tags": [
          "Account APIs"
        ],
        "operationId": "accountBalanceChangeApi",
        "summary": "account balance change activities",
        "description": "Get balance change activities involving an account",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "A Wallet address on solana blockchain",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "token_account",
            "in": "query",
            "description": "A token account of wallet on solana blockchain",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Filter activities data by token address",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "Filter by time range (Unix timestamp in seconds). Example: ?from_time=1720153259&to_time=1720153276",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "Filter by time range (Unix timestamp in seconds). Example: ?from_time=1720153259&to_time=1720153276",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number items per page",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "default": 10,
              "enum": [
                10,
                20,
                30,
                40,
                60,
                100
              ],
              "anyOf": [
                {
                  "type": "number",
                  "enum": [
                    10,
                    20,
                    30,
                    40,
                    60,
                    100
                  ]
                }
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "remove_spam",
            "in": "query",
            "description": "The query parameter to determine if spam activities have been removed or not",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Filter by amount range for a specific token. Example: ?amount[]=1&amount[]=2&token=So11111111111111111111111111111111111111112",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "flow",
            "in": "query",
            "description": "Filter by change direction: in or out",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "in",
                "out"
              ]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "The parameter allows you to specify the field by which the returned list will be sorted",
            "required": false,
            "schema": {
              "type": "string",
              "default": "block_time",
              "enum": [
                "block_time"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "The parameter allows you to specify the sort order",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "block_time",
            "in": "query",
            "description": "Used when you want to filter data by block time. Format time: UnixTime in seconds. You need to pass array into http query to filter by start and stop block_time. Example: ?block_time[]=1720153259&block_time[]=1720153276",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_id": {
                            "type": "number",
                            "description": "Slot number of activity"
                          },
                          "block_time": {
                            "type": "number",
                            "description": "Unix time of the slot"
                          },
                          "time": {
                            "type": "string",
                            "description": "Time of the slot"
                          },
                          "trans_id": {
                            "type": "string",
                            "description": "Transaction hash or signature for activity"
                          },
                          "address": {
                            "type": "string",
                            "description": "The wallet involved in the activity"
                          },
                          "token_address": {
                            "type": "string",
                            "description": "The address of token involved in the activity"
                          },
                          "token_decimals": {
                            "type": "number",
                            "description": "The decimals of token involved in the activity"
                          },
                          "token_account": {
                            "type": "string",
                            "description": "The address of the token account involved in the activity"
                          },
                          "amount": {
                            "type": "number",
                            "description": "The amount of change"
                          },
                          "pre_balance": {
                            "type": "number",
                            "description": "The account balance before executing the transaction"
                          },
                          "post_balance": {
                            "type": "number",
                            "description": "The account balance after executing the transaction"
                          },
                          "change_type": {
                            "type": "string",
                            "description": "The type of account balance change: increase (inc) or decrease (dec)"
                          },
                          "fee": {
                            "type": "number",
                            "description": "The fee of transaction"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "block_id": 245299423,
                        "block_time": 1706718634,
                        "time": "2024-01-31T16:30:34.000Z",
                        "trans_id": "2njDKnCCqM9XEsN3TxqbQdPMg6sTSijevfoinsSMg1hZMhn2ubFCtHRR6ux9huLKd7hAPMxCGKJqZ2wcNveoQyDS",
                        "address": "9KR7WY8ebL5jD99tmzi3RFmk4v4ahwwHQKdqpG47Vsrg",
                        "token_address": "JUPyiwrYJFskUPiHa7hkeR8VUtAeFoSYbKedZNsDvCN",
                        "token_account": "FSmkHGcjmGuQaB2aKBqnsg35aajitvqjDWiJi9PdFpxB",
                        "token_decimals": 6,
                        "amount": 200000000,
                        "pre_balance": 0,
                        "post_balance": 200000000,
                        "change_type": "inc",
                        "fee": 1005000
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "description": "Error Code for API"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message to describe error"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": false,
                    "errors": {
                      "code": 1100,
                      "message": "Validation Error: Address [TmUEfZi6dHe7DcFq2ALvB2tbB] is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/account/transactions": {
      "get": {
        "tags": [
          "Account APIs"
        ],
        "operationId": "accountTransactionsApi",
        "summary": "account transactions",
        "description": "Get the list of transactions of an account",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "A wallet address on solana blockchain",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "The signature of the latest transaction of previous page",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30,
              "maximum": 100
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of transactions should be returned",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 40,
              "default": 10,
              "enum": [
                10,
                20,
                30,
                40
              ],
              "anyOf": [
                {
                  "type": "number",
                  "enum": [
                    10,
                    20,
                    30,
                    40
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slot": {
                            "type": "number",
                            "description": "Slot number of the transaction"
                          },
                          "fee": {
                            "type": "number",
                            "description": "The fee of the transaction"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status of the transaction: Success or Fail"
                          },
                          "signer": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The signers of the transaction"
                          },
                          "block_time": {
                            "type": "number",
                            "description": "Unix time of the slot"
                          },
                          "tx_hash": {
                            "type": "string",
                            "description": "The signature of the transaction"
                          },
                          "parsed_instructions": {
                            "type": "array",
                            "description": "The list of transaction instructions",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of the instruction"
                                },
                                "program": {
                                  "type": "string",
                                  "description": "The name of the program"
                                },
                                "program_id": {
                                  "type": "string",
                                  "description": "The address of the program"
                                }
                              }
                            }
                          },
                          "program_ids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The list of addresses of programs involved in the transaction"
                          },
                          "time": {
                            "type": "string",
                            "description": "Time of the slot"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "slot": 282450328,
                        "fee": 60601,
                        "status": "Fail",
                        "signer": [
                          "ob2htHLoCu2P6tX7RrNVtiG1mYTas8NGJEVLaFEUngk"
                        ],
                        "block_time": 1723176170,
                        "tx_hash": "2k5SKZo9tAgK3w24EozcCSm1doWLmqoFTe8UeSHd2pp7KJbsH4pRdM78hwfDsSTEC7edJtNYAEGryZe5L1uxU5DU",
                        "parsed_instructions": [
                          {
                            "type": "cancelAllAndPlaceOrders",
                            "program": "openbook_v2",
                            "program_id": "opnb2LAfJYbRMAHHvqjCwQxanZn7ReEHp1k81EohpZb"
                          },
                          {
                            "type": "settleFunds",
                            "program": "openbook_v2",
                            "program_id": "opnb2LAfJYbRMAHHvqjCwQxanZn7ReEHp1k81EohpZb"
                          }
                        ],
                        "program_ids": [
                          "ComputeBudget111111111111111111111111111111",
                          "GDDMwNyyx8uB6zrqwBFHjLLG3TBYk2F8Az4yrQC5RzMp",
                          "opnb2LAfJYbRMAHHvqjCwQxanZn7ReEHp1k81EohpZb"
                        ],
                        "time": "2024-08-09T04:02:50.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "description": "Error Code for API"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message to describe error"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": false,
                    "errors": {
                      "code": 1100,
                      "message": "Validation Error: Address [TmUEfZi6dHe7DcFq2ALvB2tbB] is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/account/portfolio": {
      "get": {
        "tags": [
          "Account APIs"
        ],
        "operationId": "accountPortfolioApi",
        "summary": "account portfolio",
        "description": "Get the portfolio for a given address",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "A wallet address on solana blockchain",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total_value": {
                          "type": "number",
                          "description": "The total value of all tokens in USD"
                        },
                        "native_balance": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "description": "The token raw amount"
                            },
                            "balance": {
                              "type": "number",
                              "description": "The token balance. Calculated by formula: balance = amount / (10 ^ decimals)"
                            },
                            "token_price": {
                              "type": "number",
                              "description": "The token price in USD"
                            },
                            "token_decimals": {
                              "type": "number",
                              "description": "The token decimal"
                            },
                            "token_name": {
                              "type": "string",
                              "description": "The token name"
                            },
                            "token_symbol": {
                              "type": "string",
                              "description": "The token symbol"
                            },
                            "token_icon": {
                              "type": "string",
                              "description": "The token icon"
                            },
                            "value": {
                              "type": "number",
                              "description": "The token value in USD"
                            }
                          }
                        },
                        "tokens": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "token_address": {
                                "type": "string",
                                "description": "The token address"
                              },
                              "amount": {
                                "type": "number",
                                "description": "The token raw amount"
                              },
                              "balance": {
                                "type": "number",
                                "description": "The token balance. Calculated by formula: balance = amount / (10 ^ decimals)"
                              },
                              "token_price": {
                                "type": "number",
                                "description": "The token price in USD"
                              },
                              "token_decimals": {
                                "type": "number",
                                "description": "The token decimal"
                              },
                              "token_name": {
                                "type": "string",
                                "description": "The token name"
                              },
                              "token_symbol": {
                                "type": "string",
                                "description": "The token symbol"
                              },
                              "token_icon": {
                                "type": "string",
                                "description": "The token icon"
                              },
                              "value": {
                                "type": "number",
                                "description": "The token value in USD"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "success": true,
                    "data": {
                      "total_value": 21172.229635678654,
                      "native_balance": {
                        "amount": 2039280,
                        "balance": 0.00203928,
                        "token_price": 142.81,
                        "token_decimals": 9,
                        "token_name": "SOL",
                        "token_symbol": "SOL",
                        "token_icon": "https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/So11111111111111111111111111111111111111112/logo.png",
                        "value": 0.2912295768
                      },
                      "tokens": [
                        {
                          "token_address": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
                          "amount": 21176025379,
                          "balance": 21176.025379,
                          "token_price": 0.999807,
                          "token_decimals": 6,
                          "token_name": "USD Coin",
                          "token_symbol": "USDC",
                          "token_icon": "https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v/logo.png",
                          "value": 21171.938406101854
                        }
                      ]
                    },
                    "metadata": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "description": "Error Code for API"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message to describe error"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": false,
                    "errors": {
                      "code": 1100,
                      "message": "Validation Error: Address [TmUEfZi6dHe7DcFq2ALvB2tbB] is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/account/token-accounts": {
      "get": {
        "tags": [
          "Account APIs"
        ],
        "operationId": "accountTokenAccountApi",
        "summary": "account token-accounts",
        "description": "Get token accounts of an account",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "A Wallet address on solana blockchain",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of token",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "token",
                "nft"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 40,
              "default": 10,
              "enum": [
                10,
                20,
                30,
                40
              ],
              "anyOf": [
                {
                  "type": "number",
                  "enum": [
                    10,
                    20,
                    30,
                    40
                  ]
                }
              ]
            }
          },
          {
            "name": "hide_zero",
            "in": "query",
            "description": "Filter tokens that have amount is zero",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_account": {
                            "type": "string",
                            "description": "Token Account address"
                          },
                          "token_address": {
                            "type": "string",
                            "description": "Token address"
                          },
                          "amount": {
                            "type": "number",
                            "description": "Token account balance"
                          },
                          "token_decimals": {
                            "type": "number",
                            "description": "Decimal of token"
                          },
                          "owner": {
                            "type": "string",
                            "description": "Owner of this token account"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "token_account": "BW4bvMP129TtQkMKFebCqMA7ZC4jBop4yW8PHgTr6u8Z",
                        "token_address": "9LbdhSersRjbkcWWdd4Xpgr8ADi16dwzMU1tM1Ddsq79",
                        "amount": 12000000000000,
                        "token_decimals": 4,
                        "owner": "GThUX1Atko4tqhN2NaiTazWSeFWMuiUvfFnyJyUghFMJ"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "description": "Error Code for API"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message to describe error"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": false,
                    "errors": {
                      "code": 1100,
                      "message": "Validation Error: Address [TmUEfZi6dHe7DcFq2ALvB2tbB] is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/account/stake": {
      "get": {
        "tags": [
          "Account APIs"
        ],
        "operationId": "accountStakeApi",
        "summary": "account stake",
        "description": "Get the list of stake accounts of an account",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "A wallet address on solana blockchain",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items per page",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 40,
              "default": 10,
              "enum": [
                10,
                20,
                30,
                40
              ],
              "anyOf": [
                {
                  "type": "number",
                  "enum": [
                    10,
                    20,
                    30,
                    40
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number",
                            "description": "The stake amount"
                          },
                          "role": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The roles of the stake account"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status of the stake account"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of the stake account"
                          },
                          "voter": {
                            "type": "string",
                            "description": "The address of the vote account"
                          },
                          "active_stake_amount": {
                            "type": "number",
                            "description": "The active stake amount"
                          },
                          "delegated_stake_amount": {
                            "type": "number",
                            "description": "The delegated stake amount"
                          },
                          "sol_balance": {
                            "type": "number",
                            "description": "The SOL balance of the stake account"
                          },
                          "total_reward": {
                            "type": "string",
                            "description": "The total reward of the stake account"
                          },
                          "stake_account": {
                            "type": "string",
                            "description": "The address of the stake account"
                          },
                          "activation_epoch": {
                            "type": "number",
                            "description": "The activation epoch"
                          },
                          "stake_type": {
                            "type": "number",
                            "description": "The stake type"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "amount": 458814660465801,
                        "role": [
                          "staker",
                          "withdrawer"
                        ],
                        "status": "active",
                        "type": "active",
                        "voter": "J1to1yufRnoWn81KYg1XkTWzmKjnYSnmE2VY8DGUJ9Qv",
                        "active_stake_amount": 458814660465801,
                        "delegated_stake_amount": 458814660465801,
                        "sol_balance": 460943646092406,
                        "total_reward": "57305913856583",
                        "stake_account": "2P8jAu5woVjL7wWPGTdeKgybtHnVM5UDAHQTF6F4gqNn",
                        "activation_epoch": 522,
                        "stake_type": 522
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "description": "Error Code for API"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message to describe error"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": false,
                    "errors": {
                      "code": 1100,
                      "message": "Validation Error: Address [TmUEfZi6dHe7DcFq2ALvB2tbB] is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/account/reward/export": {
      "get": {
        "tags": [
          "Account APIs"
        ],
        "operationId": "accountRewardExportApi",
        "summary": "stake rewards export",
        "description": "Export the rewards for an account. Maximum items: 5000. Without time filter, data will be return for 1 month staking reward.",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "A wallet address on solana blockchain",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "time_from",
            "in": "query",
            "description": "The start time for the export. Format: Unix time in seconds. Default 1 month before time_to",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "time_to",
            "in": "query",
            "description": "The end time for the export. Format: Unix time in seconds. Default current time.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "description": "Error Code for API"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message to describe error"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": false,
                    "errors": {
                      "code": 1100,
                      "message": "Validation Error: Address [TmUEfZi6dHe7DcFq2ALvB2tbB] is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/account/transfer/export": {
      "get": {
        "tags": [
          "Account APIs"
        ],
        "operationId": "accountTransferExportApi",
        "summary": "account transfer export",
        "description": "Export transfer data of an account",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Solana wallet address",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "activity_type",
            "in": "query",
            "description": "Type of transfer",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 30,
              "enum": [
                "ACTIVITY_SPL_TRANSFER",
                "ACTIVITY_SPL_BURN",
                "ACTIVITY_SPL_MINT",
                "ACTIVITY_SPL_CREATE_ACCOUNT"
              ]
            }
          },
          {
            "name": "token_account",
            "in": "query",
            "description": "Filter transfers for a specific token account in the wallet",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter transfer data with direction is from an address",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter transfers from a specific address",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Filter by token address. For native SOL transfers, use So11111111111111111111111111111111111111111",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Filter by amount range for a specific token. Example: ?amount[]=1&amount[]=2&token=So11111111111111111111111111111111111111112",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "Filter by time range (Unix timestamp in seconds). Example: ?from_time=1720153259&to_time=1720153276",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "Filter by time range (Unix timestamp in seconds). Example: ?from_time=1720153259&to_time=1720153276",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "exclude_amount_zero",
            "in": "query",
            "description": "Exclude transfers with zero amount",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "flow",
            "in": "query",
            "description": "Filter by transfer direction: in or out",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "in",
                "out"
              ]
            }
          },
          {
            "name": "block_time",
            "in": "query",
            "description": "Used when you want to filter data by block time. Format time: UnixTime in seconds. You need to pass array into http query to filter by start and stop block_time. Example: ?block_time[]=1720153259&block_time[]=1720153276",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "example": "Signature,Time,Action,From,To,Amount,Decimals,TokenAddress\n2b3KnysvYG7ZrUahHdEs3ySBiRFmrPtSayNVaou74nWzYyGcUm98RrhMAedbG3RnwZwKDovs3hGbT1wpUii2B71s,1728379125,TRANSFER,ob2htHLoCu2P6tX7RrNVtiG1mYTas8NGJEVLaFEUngk,GYbVBW4zjCSN9NiqrqGYumb7RukmgEZVMZj8WkVr2zB8,28004000000000,9,5z3EqYQo9HiCEs3R84RCDMu2n7anpDMxRhdK8PSWmrRC"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "API status"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "description": "Error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Error description"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": false,
                    "errors": {
                      "code": 1100,
                      "message": "Validation Error: Address [TmUEfZi6dHe7DcFq2ALvB2tbB] is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/token/transfer": {
      "get": {
        "tags": [
          "Token APIs"
        ],
        "operationId": "tokenTransferApi",
        "summary": "token transfer",
        "description": "Get transfer data of a token",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "A token address on solana blockchain",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "activity_type",
            "in": "query",
            "description": "Type of transfer data",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 30,
              "enum": [
                "ACTIVITY_SPL_TRANSFER",
                "ACTIVITY_SPL_BURN",
                "ACTIVITY_SPL_MINT",
                "ACTIVITY_SPL_CREATE_ACCOUNT"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter transfer data with direction is from an address",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter transfer data with direction is to an address",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Filter transfer data by by amount. But you need to pass token address first because amount filter will be belong to one token address. Ex: Filter amount from 1 to 2 SOL ?amount[]=1&amont[]=2&token=So11111111111111111111111111111111111111112",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "block_time",
            "in": "query",
            "description": "Used when you want to filter data by block time. Format time: UnixTime in seconds. You need to pass array into http query to filter by start and stop block_time. Example: ?block_time[]=1720153259&block_time[]=1720153276",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "exclude_amount_zero",
            "in": "query",
            "description": "Exculde transfer that has amount is zero",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number items per page",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "default": 10,
              "enum": [
                10,
                20,
                30,
                40,
                60,
                100
              ],
              "anyOf": [
                {
                  "type": "number",
                  "enum": [
                    10,
                    20,
                    30,
                    40,
                    60,
                    100
                  ]
                }
              ]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "The parameter allows you to specify the field by which the returned list will be sorted",
            "required": false,
            "schema": {
              "type": "string",
              "default": "block_time",
              "enum": [
                "block_time"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "The parameter allows you to specify the sort order",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Filter by value range (dollar). Example: ?value[]=1&value[]=10",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_id": {
                            "type": "number",
                            "description": "Slot Number of activity"
                          },
                          "trans_id": {
                            "type": "string",
                            "description": "Transaction Hash or Signature for activity"
                          },
                          "block_time": {
                            "type": "number",
                            "description": "UnixTime of the slot"
                          },
                          "time": {
                            "type": "string",
                            "description": "Time of the slot"
                          },
                          "activity_type": {
                            "type": "string",
                            "description": "Type of transfer.",
                            "enum": [
                              "ACTIVITY_SPL_TRANSFER",
                              "ACTIVITY_SPL_BURN",
                              "ACTIVITY_SPL_MINT",
                              "ACTIVITY_SPL_CREATE_ACCOUNT"
                            ]
                          },
                          "from_address": {
                            "type": "string",
                            "description": "Transfer from an address"
                          },
                          "to_address": {
                            "type": "string",
                            "description": "Transfer to an address"
                          },
                          "token_address": {
                            "type": "string",
                            "description": "The address of the token transferring"
                          },
                          "token_decimals": {
                            "type": "number",
                            "description": "Decimal of token address"
                          },
                          "amount": {
                            "type": "number",
                            "description": "Transfer amount. You need to divide token_decimals to get real amount."
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "block_id": 276312035,
                        "trans_id": "4x6jxJFCgbjLACvXgqb3aRTsrSk6RSccfgreJLgF3wL4xmZ9897ZyPTxvVV7sbukGeNeMqLb12EtQpzrxzhEkeMC",
                        "block_time": 1720408627,
                        "time": "2024-07-08T03:17:07.000Z",
                        "activity_type": "ACTIVITY_SPL_TRANSFER",
                        "from_address": "J6vHZDKghn3dbTG7pcBLzHMnXFoqUEiHVaFfZxojMjXs",
                        "to_address": "7rhxnLV8C77o6d8oz26AgK8x8m5ePsdeRawjqvojbjnQ",
                        "token_address": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263",
                        "token_decimals": 5,
                        "amount": 500000000
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "description": "Error Code for API"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message to describe error"
                        }
                      }
                    }
                  },
                  "example": {
                    "success": false,
                    "errors": {
                      "code": 1100,
                      "message": "Validation Error: Address [TmUEfZi6dHe7DcFq2ALvB2tbB] is invalid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/token/defi/activities": {
      "get": {
        "tags": [
          "Token APIs"
        ],
        "operationId": "tokenDefiActivitiesApi",
        "summary": "token defi activities",
        "description": "Get defi activities involving a token",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "A token address on solana blockchain",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter activities from an address",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Filter by list platform addresses. Maximum 5 addresses",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 5
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by list source addresses. Maximum 5 addresses",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 5
            }
          },
          {
            "name": "activity_type",
            "in": "query",
            "description": "Type of defi-activity data",
            "required": false,
            "schema": {
              "type": "array",
              "minimum": 30,
              "enum": [
                "ACTIVITY_TOKEN_SWAP",
                "ACTIVITY_AGG_TOKEN_SWAP",
                "ACTIVITY_TOKEN_ADD_LIQ",
                "ACTIVITY_TOKEN_REMOVE_LIQ",
                "ACTIVITY_SPL_TOKEN_STAKE",
                "ACTIVITY_SPL_TOKEN_UNSTAKE",
                "ACTIVITY_SPL_TOKEN_WITHDRAW_STAKE",
                "ACTIVITY_SPL_INIT_MINT"
              ]
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Filter activities data by token address",
            "required": false,
            "schema": {
              "type": "string",
              "minimum": 30
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "Filter by time range (Unix timestamp in seconds). Example: ?from_time=1720153259&to_time=1720153276",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "Filter by time range (Unix timestamp in seconds). Example: ?from_time=1720153259&to_time=1720153276",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 2
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number items per page",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "default": 10,
              "enum": [
                10,
                20,
                30,
                40,
                60,
                100
              ],
              "anyOf": [
                {
                  "type": "number",
                  "enum": [
                    10,
                    20,
                    30,
                    40,
                    60,
                    100
                  ]
                }
              ]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "The parameter allows you to specify the field by which the returned list will be sorted",
            "required": false,
            "schema": {
              "type": "string",
              "default": "block_time",
              "enum": [
                "block_time"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "The parameter allows you to specify the sort order",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "block_time",
            "in": "query",
            "description": "Used when you want to filter data by block time. Format time: UnixTime in seconds. You need to pass array into http query to filter by start and stop block_time. Example: ?block_time[]=1720153259&block_time[]=1720153276",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "minimum": 1,
              "maximum": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Status of Api"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_id": {
                            "type": "number",
                            "description": "Slot Number of activity"
                          },
                          "trans_id": {
                            "type": "string",
                            "description": "Transaction Hash or Signature for activity"
                          },
                          "block_time": {
                            "type": "number",
                            "description": "UnixTime of the slot"
                          },
                          "time": {
                            "type": "string",
                            "description": "Time of the slot"
                          },
                          "activity_type": {
                            "type": "string",
                            "description": "Type of transfer.",
[...]
